@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Mukta:wght@700&family=Roboto+Condensed:wght@400;700&family=Sofia+Sans:wght@300;600&display=swap');


* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/* fonts */
:root {
    --sofia : 'Sofia Sans', sans-serif;
    --roboto : 'Roboto Condensed', sans-serif;
    --anonymus : 'Anonymous Pro', monospace;
    --mukta : 'Mukta', sans-serif;
}


body { 
    margin: 0; 
    padding: 0;
}

.header__content img {
    width: 100%;
    height: 100%;
}
.quotes {
    font-weight: bold;
    position: absolute;
    bottom: 10rem;
    font-family: var(--mukta);
    color: white;
    line-height: 1.3;
    text-shadow: 10px 10px 10px rgb(0, 0, 0,0.8);
    white-space: wrap;
}
.quotes__owner__name{
    font-family: var(--sofia);
    font-style: italic;
    white-space: nowrap;
}
.navigation__bar__container{
    background-image: linear-gradient( to right, #14213d,#9d0208) ;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index:100;
    margin-top: 0px;
    padding: 0 0 5px 5px;
}
.icons{
    padding: 0 30px 0 0;
}
.navigation__icons__container{
    padding: 5px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navigation__icons__container img {
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

.nav__bar__icon{
    color: white;
    font-weight: bold;
}
.navigation__bar.active, .courses.active{
    display: block;
}
nav ul:not(.sub-menu){
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul:not(.sub-menu) li {
    margin-bottom: 10px;
}
.navigation__bar.active{
    display: block;
}
nav ul:not(.sub-menu) li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: var(--roboto);
}
.courses button {
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d7c2b0;
    cursor: pointer;
}
.footer {
    width: 100%;
    padding-top: 10px;
    background-color:black;
    margin-top: 100px;
}
.footer__pages--list {
    list-style: none;
}
.footer__pages--list a{
    text-decoration: none;
    font-family: var(--mukta);
    color: white;
    line-height: 1.7;
}
.footer__pages--list li:hover a{
    color: red;
}

.footer-pages {
    margin-top: 20px;
}
.footer__pages--list a{
    font-size: 1.1rem;
}
.feedback {
    padding-left: 10px;
    font-family: var(--mukta);
}
.feedback input {
    display: block;
    width: 80%;
    height: 40px;
    font-size: 1rem;
    font-family: var(--mukta);
    padding-left: 10px;
    border-radius: 20px;
    outline: 0;
    margin-bottom: 1rem;
}
.feedback textarea{
    resize: none;
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-family: var(--mukta);
}
.feedback button {
    width: 80px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
}


.feedback label {
    display: block;
    color: white;
    font-size: 1rem;
    letter-spacing:2px;
    padding-left: 5px;
    margin: 5px 0;
 
}


.error--message span{
    font-family: var(--sofia);
    font-size: 1.1rem;
    color: red;
    font-weight: 600;
    margin-left: 20px;
}
.feedback--sendButton span{
    font-size: 1.4rem;
    color: red;
    font-weight: bold;
}
@media screen and (max-width: 480px) {
    .header__content {
        width: 100%;
        height: 60vh;
        padding: 0;  
        position: relative; 
    }
    .quotes {
        font-size: 1.2rem;
        padding: 10px;
    }
    .quotes__owner__name{
        display: block;
        font-size: 0.9rem;
    }
    .courses button {
        width: 50px;
        height: 25px;
    }
    .courses, .navigation__bar{
        display: none;
    } 
    .nav__bar__icon{
        font-size: 1.2rem;
    }
    .navigation__icons__container img {
        width: 20px;
        height: 25px;
    }
    .nav-main-page {
        padding: 10px 20px 10px 20px;
    }
    .icons div {
        cursor: pointer;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .logo img{
        width: 100%;
    }
}
@media only screen  and (min-width:481px) and (max-width:768px) {
    .header__content {
        width: 100%;
        height: 60vh;
        padding: 0;  
        position: relative; 
    }
    .quotes {
        font-size: 2rem;
        left: 5px;
    }
    .quotes__owner__name{
        font-size: 1rem;
    }
    .courses button {
        width: 80px;
        height: 30px;
    }
    .courses, .navigation__bar{
        display: none;
    }
    .navigation__icons__container img {
        width: 30px;
        height: 40px;
    }
    .nav__bar__icon{
        font-size: 1.5rem;
    }
    .nav-main-page {
        padding: 10px 20px 20px 20px;
    }
    .footer {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;   
    }
    .logo img{
        width: 300px;
    }

}
@media screen and (min-width:769px) {
    .header__content {
        width: 100%;
        height: 90vh;
        padding: 0;   
    }
    .quotes {
        font-size: 1.8rem;
        left: 15px;
    }
    .quotes__owner__name{
        font-size: 1.3rem;
    }
    .navigation__bar__container {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px 20px 20px;
        flex-wrap: wrap;
    }
    .navigation__bar ul:not(.sub-menu) {
        display: flex;
    }
    .navigation__bar ul:not(.sub-menu) li {
        margin-right: 20px;
    }
    .navigation__bar ul:not(.sub-menu) li a:hover{
        color: red;
    }
    .courses button {
        width: 70px;
        height: 30px;
    }
    .icons {
        display: none;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-pages {
        padding-top: 80px;
    }
    .logo img{
        width: 300px;
    }
    .main-page{
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 50px;
    }
    .pages{
        margin-top: 50px;
    }
}
