
body{
    background-image: linear-gradient(to right bottom, #d00000,#7209b7);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.login__contents__container{
    box-shadow: 0 0 80px rgba(0,0,0,1);
    padding: 30px 20px;
    border-radius: 15px;
}

.login__contents label {
    margin-right: 10px;
    color: white;
}
.username, .password {
    margin-bottom: 30px;
}

.username input, .password input {
    height: 25px;
    outline: none;
    padding-left: 5px;
    font-size: 1rem;
}

.submit__button {
    margin-top: 20px;
    height: 30px;
    font-size: 1rem;
    position: relative;
    left: 30%;
    cursor: pointer;
}

.signUp__link {
    text-decoration: none;
    color: white;
}

.error {
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}

@media screen and (max-width:480px){
    .login__contents__container{
        margin: 15vh auto;
        max-width: 80%;
    }
    .login__contents{
        margin: 10px;
    }
    .login__contents label {
        font-size: 1.2rem;
    }
    .username input, .password input {
        margin-top: 5px;
        width: 90%;
    }
    .signUp__option p{
        font-size: 1.1rem;
    }
}

@media only screen  and (min-width:481px) and (max-width:768px){
    .login__contents__container{
        margin: 15vh auto;
        max-width: 50%;   
    }
    .login__contents{
        margin: 10px;
    }
    .login__contents label {
        font-size: 1.2rem;
    }
    .username input, .password input {
        margin-top: 5px;
        width: 90%;
    }
    .signUp__option p{
        font-size: 1.2rem;
    }
}

@media screen and (min-width:769px){
    .login__contents__container{
        margin: 20vh auto;
        max-width: 50%;    
    }
    .login__contents{
        margin: 30px;
        margin-right: 0;
    }
    .login__contents label {
        font-size: 1.4rem;
    }
    .username input, .password input {
        width: 65%;
    }
    .signUp__option p{
        font-size: 1.4rem;
    }
}