@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Mukta:wght@700&family=Roboto+Condensed:wght@400;700&family=Sofia+Sans:wght@300;600&display=swap');
/* fonts */
:root {
    --sofia : 'Sofia Sans', sans-serif;
    --roboto : 'Roboto Condensed', sans-serif;
    --anonymus : 'Anonymous Pro', monospace;
    --mukta : 'Mukta', sans-serif;
}



.introduction{
    background:rgba(0, 0, 0,0.5) url('../src/images/comp2.jpg') fixed center ;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode:darken ;
    box-shadow: inset 0 -20px 10px rgb(0, 0, 0,0.5);
}
.explanation__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    display: block;
}
.cards__container {
    display: grid;
}
.card {
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0,0.5);
    padding-bottom: 10px;
}
.card video {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px rgb(0, 0, 0,0.2);
}
.practice {
    padding-left: 10px;
}
.practice a {
    text-decoration: none;
    font-family:sans-serif;
    font-weight: 550;
    color: rgb(105, 3, 3);  
}
.explanation__container{
    border-radius: 20% 0 10% 0;
}
.pic__container {
    border-radius: 10px;
    margin-right: 10PX;
    height: 100%;
}
.pic__container img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background: transparent;
}
.explanation--text p {
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.explanation--text span {
    font-family: 'Roboto', sans-serif;
    font-weight:400 ;
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.faqs--section {
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.question-mark {
    width: 40%;
    height: 30%;
}
.question-mark img {
    width: 100%;
    height: 100%;
}
.FAQs {
    margin-top: 100px;
    width: 95%;
}
.FAQs ul {
    list-style: none;
    width: 100%;
}
.faqs__button {
    background-color: rgb(199, 199, 199);
    width: 100%;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}
.faqs__answer{
    height: 40px;
    font-family:  'Roboto', sans-serif;
    background-color: transparent;
}
.FAQs > p {
    font-size: 2rem;
    padding-left: 10px;
    text-align: center;
    font-family:  'Roboto', sans-serif;
    font-weight: 600;
}
.faq {
    margin-top: 10px;
}
.faqs__answer__container {
    display: none;
    margin-left: 20px;
}
.faqs__answer__container.active {
    display: block;
}
.card {
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0,0.5);
    padding-bottom: 15px;
}
.card video {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px rgb(0, 0, 0,0.2);
}
.practice {
    padding-left: 20px;
}
.practice a {
    text-decoration: none;
    font-family:sans-serif;
    font-weight: 550;
    color: rgb(105, 3, 3);
}
.explanation--text p {
    font-family: var(--mukta);
}
.explanation--text span {
    font-family: var(--roboto);
    line-height: 1.2;
}


@media screen and (max-width: 480px){  
    .explanation__container{
        padding: 0px 1rem;
        margin-top: 50px;
        padding: 40px 0;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .explanation--text {
        width: 100%;
        padding: 1rem;
    }
    .pic__container {
        width: 95%;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    }
    .explanation--text p {
        font-size: 2rem;
    }
    .explanation--text span {    
        font-size: 1rem;
        line-height: 1.5;
    }
    .cards__container {
        grid-template-columns:1fr 1fr;
        column-gap:70px ;
        row-gap: 40px;
        margin-top: 50px;
        padding: 0 20px;
    }
    .practice a {
        font-size: 0.8rem; 
    }
    .faqs {
        position: relative;
        left: -50px;
    }
    .faqs__button {
        font-size: 0.9rem;
    }
}

@media only screen  and (min-width:481px) and (max-width:768px){
    .explanation__container{
        padding: 0px 1rem;
        margin-top: 50px;
        padding: 40px 0;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .explanation--text {
        width: 100%;
        padding: 1rem;
    }
    .explanation--text p {
        font-size: 2.5rem;
    }
    .explanation--text span {
        font-size: 1.3rem;
        line-height: 1.6;
        margin-top: 10px;
    }
    .pic__container {
        width: 85%;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    }    
    .cards__container {
        grid-template-columns:1fr 1fr 1fr;
        column-gap:50px ;
        row-gap: 40px;
        margin-top: 50px;
        padding: 0 20px;
    }
    .practice a {
        font-size: 0.8rem; 
    }
    .faqs {
        position: relative;
        left: -50px;
    }
    .faqs__button {
        font-size: 0.9rem;
    }    
}


@media screen and (min-width:769px) {
    
.introduction{
    padding: 100px 0;
    margin: 100px 0;
}
.explanation__container{
    padding: 0px 2rem;
    margin-top: 150px;
}
.explanation--text {
    max-width: 40%;
    padding-left: 3rem;
}
.pic__container {
    width: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.pic__container img {
    animation: slideImage 8s linear;
    animation-iteration-count: infinite;
}
@keyframes slideImage {
    0%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(50px);
    }
    41%{
        transform: translateX(50px);
    }
}
.explanation--text p {
    font-size: 4rem;
}
.explanation--text span {
    font-size: 1.4rem;
    line-height: 1.5;
}
.cards__container {
    margin-top: 100px;
    padding: 0 100px;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:90px ;
    row-gap: 80px;
}
.practice a {
    font-size: 1rem;   
}
.faqs--section {
    margin-left: 50px;
}
.question-mark {
    animation: questionslide linear 6s ;
    animation-iteration-count: infinite;
}
@keyframes questionslide{
    0%{
        transform: translateX(0);
    }
    40% {
        transform: translateX(50px);
    }
    41% {
        transform: translateX(50px);
    }
}
.faqs {
    margin: 100px 0 0 100px;
}
.faqs__button {
    font-size: 1.1rem;
}
.faq {
    width: 70%;
}
.navigation__bar{
    display: block;
}


}  