
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Mukta:wght@300;700&family=Roboto+Condensed:wght@400;700&family=Sofia+Sans:wght@300;600&display=swap');

/* fonts */
:root {
    --sofia : 'Sofia Sans', sans-serif;
    --roboto : 'Roboto Condensed', sans-serif;
    --anonymus : 'Anonymous Pro', monospace;
    --mukta : 'Mukta', sans-serif;
}

.sideBar {
    padding: 10px;
    background-color: #14213d ;
    position: sticky;
    top: 50px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sideBar__icon__container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0 10px 20px;
}
.sideBar__icon__container img {
    filter: brightness(0) invert(1);
}
.navigation__bar, .sideBar {
    display: none;
}
.sideBar__icon {
    color: white;
    font-weight: bold;
}

.navigation__bar.active, .courses.active{
    display: block;
}
.sideBar.active, .navigation__bar.active{
    display: block;
    padding: 10px;
}
.sideBar ul:not(.sub-menu) {
    display: inline-block;
    width: 100%;
}
.sideBar ul:not(.sub-menu) li {
    width: 100%;
    margin: 10px 0;
    font-size: 1.2rem;
    font-family: var(--mukta);
    font-weight: 550;
    color: white;
    line-height: 1.7;
}
.sub-menu li{
    margin-left: 30px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sub-menu.one, .sub-menu.two {
    display: none;
}
.tutorial.topic:hover {
    color: red;
    cursor: pointer;
}
.tutorials__container {
    margin-top: 80px;
}
.video__container video{
    width: 100%;
}
.lecture__topic {
    font-size: 2rem;
    font-family: var(--mukta);
    font-weight: 700;
    text-align: center;
}
.written__tutorial {
    font-family: var(--roboto);
    line-height: 1.5;
    font-weight: 500;
}
html {
    scroll-behavior: smooth;
}
.table-tutorial p {
    font-size: 1.3rem;
    margin: 15px 0;
    font-family: var(--roboto);
    font-weight: bold;
    text-align: center;
}
table,tr,td {
    border: solid 1px black;
    border-collapse: collapse;
    font-size: 1rem;
    font-family: var(--roboto);
}
td {
    padding-left: 10px;
}
@media screen and (max-width: 480px) {
    .sideBar__icon__container img {
        width: 20px;
        height: 25px;
    }
    .sideBar__icon {
        font-size: 1.2rem;
    }
    .video__container {
        width: 100%;
    }
    .written__tutorial {
        margin: 50px 0 10px 10px;
        font-size: 1.1rem;
    }
    table {
        width: 97%;
        margin-left: 5px;
    }
    table,tr,td {
        font-size: 1rem;
    }
}

@media only screen  and (min-width:481px) and (max-width:768px) {
    .icons div {
        cursor: pointer;
    }
    .sideBar.active{
        display: block;
    }
    .sideBar__icon__container img {
        width: 30px;
        height: 30px;
    }
    .sideBar__icon {
        font-size: 1.5rem;
    }
    .video__container {
        width: 100%;
    }
    .written__tutorial {
        margin: 50px 0 10px 10px;
        font-size: 1.1rem;
    }
    table {
        width: 97%;
        margin-left: 5px;
    }
    table,tr,td {
        font-size: 1rem;
    }
}

@media screen and (min-width:769px) {
    .main__page__content{
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }
    .video__container {
        margin: 0 auto;
        width: 70%;
    }
    .sideBar__container{
        position: sticky;
        top: 40px;
        left: 0;
        display: inline-block;
    }
    .sideBar {
        display: block;
    }
    .written__tutorial {
        margin: 50px 15px 10px 10px;
        font-size: 1.3rem;
    }
    table,tr,td {
        font-size: 1.2rem;
    }
    .navigation__bar{
        display: block;
    }
}
